# .env.example

# Environment Name
NODE_ENV=development

# Server listen to this port
PORT=3000

# Log
# Example '/home/node/logs'
LOG_DIR=logs

# Redis 
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=changeit